.pause{
  background-color: rgb(75, 85, 99);
  width: 125px;
  height: 38px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 56px;
  cursor: pointer;
}

.time{
  color: white;
  font-size: 60px;
  font-weight: 800;
}
